.cityCard {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cityCardTempGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cityCardTemp {
  margin-left: 12px;
}
